<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wys.mapper.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.wys.model.Permission">
    <!--@mbg.generated-->
    <id column="permission_id" jdbcType="INTEGER" property="permissionId" />
    <result column="permission_flag" jdbcType="INTEGER" property="permissionFlag" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="permission_status" jdbcType="INTEGER" property="permissionStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    permission_id, permission_flag, role_id, permission_status
  </sql>
</mapper>